<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="fragments/header :: header">Header</head>

    <body>
        <div th:replace="fragments/header :: nav"></div>

        <div layout:fragment="content">Page Content</div>

        <div th:replace="fragments/footer"></div>

        <th:block th:replace="fragments/scripts :: scripts"/>
        <th:block layout:fragment="script"/>
    </body>
</html>