body{
  margin-top:20px;
  background-color:#e9ebee;
}

.comment-delete-btn {
  margin-bottom: 30px;
}

.comment-edit-btn {
  margin-bottom: 30px;
}

.comment-page-item {
  &:hover {
    cursor: pointer;
  }
}