<!DOCTYPE html>
<body lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/app" layout:decorate="~{layouts/app}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div layout:fragment="content" class="main-content">
    <div class="container py-4">
        <div class="row">
            <div class="col">
                <h2>자유 게시판</h2>
            </div>
        </div>
        <div class="table-responsive-md">
            <table class="table table-bordered">
<!--                <caption></caption>-->
<!--                <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>-->
                <tbody>
                <tr>
                    <th class="align-middle text-center grey-bg">제목</th>
                    <th th:text="${post.getTitle()}"></th>
                    <th class="align-middle text-center grey-bg">작성자</th>
                    <th th:text="${post.getMember().getUsername()}"></th>
                </tr>
                <tr>
                    <th class="align-middle text-center grey-bg">등록일자</th>
                    <th th:text="${#dates.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></th>
                    <th class="align-middle text-center grey-bg">수정일자</th>
                    <th th:text="${#dates.format(post.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></th>
                </tr>

                <tr>
                    <th class="align-middle text-center grey-bg">내용</th>
                    <td colspan="5" th:utext="${post.getContent()}"></td>
                </tr>
                <tr>
                    <th class="align-middle text-center grey-bg">첨부파일</th>
                    <td colspan="5" th:if="${post.getFile() != null}">
                        <div class="row">
                            <div class="col">
                                <a th:text="${post.getFile().getOriginalName()}"
                                   th:href="@{/files/{id}(id = ${post.getFile().getId()})}"></a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <div>
<!--                    <a href="#" class="btn btn-primary" th:href="${post.nttTy.name().toLowerCase() +'s'}">목록</a>-->
                </div>
                <div>
                    <button form="post-delete-form" class="btn btn-danger">삭제</button>
<!--                    <a href="#" class="btn btn-primary" th:if="${post.getAccount().getId() == currentUser.getId()}" th:href="@{'/commons/new/' + ${post.getId()}}">수정</a>-->
                </div>
                <form id="post-delete-form" th:action="@{${'/posts/' + post.getId() + '/delete'}}" th:method="delete">
                    <input type="hidden" name="_method" value="delete">
                </form>
            </div>
        </div>
    </div>
    <div class="container py-4">
    <div class="be-comment-block">
        <div class="be-comment">
            <div th:if="${#lists.size(post.getComments()) > 0}" th:each="comment: ${post.getComments()}">
                <div class="be-comment-content">
				<span class="be-comment-name">
					<a href="#" th:text="${post.getMember().getUsername()}"></a>
                </span>
                <span class="be-comment-time" th:text="${#dates.format(comment.createdAt, 'yyyy-MM-dd HH:mm:ss')}">
				</span>
                    <p class="be-comment-text" th:text="${comment.getContent()}">
                    </p>
                </div>
                <form id="comment-delete-form" th:action="@{${'/comments/' + comment.getId() + '/delete'}}" th:method="post">
                </form>
                <button form="comment-delete-form" th:attrappend="data-id=${comment.getId()}" class="btn-danger comment-delete-btn">삭제</button>
                <button class="btn-secondary comment-edit-btn">수정</button>
            </div>
            <div th:unless="${#lists.size(post.getComments()) > 0}">
                <div class="be-comment-content">
                    <p class="be-comment-text">
                        아직 댓글이 없습니다!
                    </p>
                </div>
            </div>
        </div>
        <form class="form-block" th:action="@{/comments}" th:method="post">
            <input type="hidden" name="postId" th:value="${post.getId()}">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <textarea name="content" class="form-input" required="" placeholder="Your Comment"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">submit</button>
            </div>
        </form>
    </div>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        // let comment = new CommentManager();
    </script>
</th:block>