<!DOCTYPE html>
<body lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/app" layout:decorate="~{layouts/app}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div layout:fragment="content" class="main-content">
    <div class="container my-3 p-4 bg-white rounded-3">
        <h1 th:text="${post.getTitle()}"></h1>
        <div class="fs-6" th:text="'작성자: ' + ${post.getMember().getUsername()}"></div>
        <div class="fs-6" th:text="'최종 수정일: ' + ${#dates.format(post.updatedAt, 'yyyy.MM.dd HH:mm')}"></div>
        <hr>
        <div th:utext="${post.getContent()}"></div>
        <div th:if="${post.getFile() != null}">
            <hr>
            <h5>첨부파일</h5>
            <div class="row">
                <div class="col">
                    <a th:text="${post.getFile().getOriginalName()}"
                       th:href="@{/files/{id}(id = ${post.getFile().getId()})}"></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-end">
            <a class="btn btn-secondary mx-1" th:href="@{'/posts'}">목록</a>
            <form th:action="@{'/posts/' + ${post.getId()} + '/delete'}" method="post">
                <input type="submit" class="btn btn-danger mx-1 btn-delete" value="삭제">
            </form>
            <a class="btn btn-warning mx-1" th:href="@{'/posts/' + ${post.getId()} + '/edit'}">수정</a>
        </div>
    </div>
    <div class="container my-3 p-4 bg-white rounded-3">
        <h2>댓글</h2>
        <div th:if="${#lists.size(post.getComments()) > 0}" th:each="comment: ${post.getComments()}">
            <div class="mt-4">
                <h6 th:text="${comment.getMember().getUsername()}"></h6>
                <div class="d-flex justify-content-between">
                    <div th:text="${comment.getContent()}"></div>
                    <div class="d-flex">
                        <form th:action="@{'/comments/' + ${comment.getId()} + '/delete'}" method="post">
                            <input type="submit" class="btn btn-danger btn-sm mx-1 btn-delete" value="삭제">
                        </form>
                        <a class="btn btn-warning btn-sm mx-1" th:href="@{'/comments/' + ${post.getId()} + '/edit'}">수정</a>
                    </div>
                </div>
                <div class="fs-6" style="color: gray" th:text="${#dates.format(comment.getUpdatedAt(), 'yyyy.MM.dd HH:mm')}">
            </div>
            <hr>
        </div>
        <div th:unless="${#lists.size(post.getComments()) > 0}">
            <div>댓글이 없습니다.</div>
        </div>
    </div>
        <div>
            <th:block sec:authorize="isAuthenticated()">
                <h6 th:text="${#authentication.getPrincipal().getMember().getUsername()}"></h6>
                <form class="form-floating" th:action="@{'/comments'}" method="post">
                    <textarea th:name="content" class="form-control" placeholder="댓글을 남겨보세요." id="comment-input"></textarea>
                    <label for="comment-input">댓글을 남겨보세요.</label>
                    <input name="postId" type="hidden" th:value="${post.getId()}">
                    <div class="d-flex justify-content-end mt-2">
                        <input type="submit" class="btn btn-primary btn-sm" th:value="등록">
                    </div>
                </form>
            </th:block>
            <th:block sec:authorize="isAnonymous()">
                <h6>댓글 작성을 위해 로그인해주세요!</h6>
            </th:block>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        // let comment = new CommentManager();
    </script>
</th:block>