<head th:fragment="header" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <title>PTECH FORUM</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
</head>

<div th:fragment="top-bar" class="top-bar" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

</div>

<div th:fragment="nav" class="main-nav">

</div>