<!DOCTYPE html>
<body lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/app" layout:decorate="~{layouts/app}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div layout:fragment="content" class="main-content">
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">PROMPT TECHNOLOGY FORUM</h1>
                <p class="col-md-8 fs-4">안녕하세요!<br> 프람트 테크놀로지에 오신 여러분을 환영합니다.<br>자유롭게 의견을 나누어 주세요!</p>
                <button class="btn btn-primary btn-lg" type="button">글 쓰러 가기</button>
            </div>
        </div>
    </div>
</div>
</body>