<!DOCTYPE html>
<body lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/app" layout:decorate="~{layouts/app}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div layout:fragment="content" class="main-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="main-home">
                    MAIN-HOME
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <h1 th:inline="text">CURRENT USER: [[${#httpServletRequest.remoteUser}]] - ROLE_ADMIN!</h1>
                    </div>

                    <div sec:authorize="hasRole('ROLE_USER')">
                        <h1 th:inline="text">CURRENT USER: [[${#httpServletRequest.remoteUser}]] - ROLE_USER!</h1>
                    </div>

                    <div sec:authorize="isAnonymous()">
                        <h1 th:inline="text">CURRENT USER: Annonymous</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>